{% extends 'base.html' %}
{% block title %}Password reset - FLARE {% endblock title %}
{% block content %}
{% load widget_tweaks %}
    <div class="container-fluid col-md-6 col-lg-4 py-5">
        <div class="card text-center">
            <div class="card-body px-5">
                <h5 class="h5 text-secondary">Password Reset</h5>
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {% render_field form.email class="form-control" placeholder="Enter your email" %}
                    </div>
                    <input type="submit" value="Reset" class="btn btn-primary col-lg-12 col-12 mt-2 mb-3">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}