{% extends 'base.html' %}
{% block title %}Profile - FLARE{% endblock title %}
{% block content %}
{% load widget_tweaks %}
    <div class="container">
        <div class="container card profile-container mt-4">
            <div class="row p-3">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img src="{{ user.avatar.url }}" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                      <!-- <h5 class="my-3">John Smith</h5> -->
                      <p class="text-muted mb-1">@{{ user.username }}</p>
                      <div class="d-flex justify-content-around mb-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateProfile">
                            Update Profile
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateSubscription">
                          Manage Subscription
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{ user.name }}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{ user.email }}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">(097) 234-5678</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Subscribed regions</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">
                            {% if subscribed_regions %}
                              {% for region in subscribed_regions %}
                              {{ region.name }}{% if not forloop.last %}, {% endif %}
                              {% endfor %}
                            {% else %}
                              No region subscribed
                            {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
            <!-- update user -->
        
            <!-- Modal -->
            <div class="modal fade" id="updateProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="email" class="form-label"
                                >{{ profile_form.avatar.label }}</label
                              >
                              {% render_field profile_form.avatar class="form-control" %}
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label"
                                  >{{ profile_form.username.label }}</label
                                >
                                {% render_field profile_form.username class="form-control" %}
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label"
                                  >{{ profile_form.email.label }}</label
                                >
                                {% render_field profile_form.email class="form-control" %}
                            </div>
                            <input type="submit" value="Update" class="btn btn-primary col-lg-12 col-12 mt-2 mb-3">
                        </form>
                    </div>
                </div>
                </div>
            </div>

            <!-- subscription -->
            <div class="modal fade" id="updateSubscription" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Update Subscription</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form action="{% url 'manage-subscription' %}" method="POST">
                          {% csrf_token %}
                          <div class="mb-3">
                              <label for="email" class="form-label"
                                >Select Region</label
                              >
                              <!-- <input type="text" name="regions" value="" class="form-control" id="region" aria-describedby="region" list="region-list" required>
                              <datalist id="region-list"> -->
                                <select class="form-select" name="regions" id="" data-live-search="true"  multiple>
                                  {% for region in region_choice %}
                                    <option value="{{region}}">{{region}}</option>
                                  {% endfor %}
                                </select>
                              <!-- </datalist> -->
                          </div>
                          <input type="submit" value="Update" class="btn btn-primary col-lg-12 col-12 mt-2 mb-3">
                      </form>
                  </div>
              </div>
              </div>
          </div>
        </div>
    </div>
{% endblock content %}